HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### resource ###
**/application.properties
### Security secret key ###
# **/JwtUtil.java

# What you need to do is the following:

# git rm --cached project.properties

# and for gen/*

# git rm --cached gen/

# Then commit.

# the --cached option will unstage and remove paths only from the index. Working tree files, whether modified or not, will be left alone. git-rm
